.DS_Store
node_modules/
.idea/
*.log
.gradle/
local.properties
*.iml
.cxx/
.externalNativeBuild/
android/app/build/
android/build/
android/.gradle/
android/captures/
android/.kotlin/
android/keystore.properties
*.jks
*.keystore
.env
.env.*
